.StartPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 7em;
  color: #fff;
  margin-bottom: .4em;
}

.btn {
  width: 10em;
  height: 2em;
  font-weight: bold;
  font-size: 2em;
  text-transform: uppercase;
  border: none;
  border-radius: 7px;
  background: rgb(68, 68, 255);
  color: #fff;
  outline: none;
  cursor: pointer;
  box-shadow: 2px 2px 5px 0 #000;
}

.btn:hover {
  background: rgb(93, 93, 255);
}

.btn:active {
  margin-top: .1em;
  width: 9.9em;
  height: 1.9em;
  background: rgb(22, 22, 255);
  box-shadow: 1px 1px 5px 0 #000;
}