.InfoTitle {
  width: 350px;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  border: 2px solid #fff;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
  user-select: none;
  cursor: default;
}

.InfoTitle:hover {
  background: rgba(255, 255, 255, 0.4);
}