.PlayersName {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin-bottom: 3em;
}

.fieldName {
  width: 220px;
  height: 30px;
  padding: 5px 10px;
  font-size: 1.1em;
  border: none;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
}

.fieldName:hover {
  background: rgb(232, 240, 255);
}

.fieldName:focus {
  border: 1px solid rgb(0, 162, 255);
  box-shadow: 0 0 5px 0 rgb(0, 162, 255);
}