.field {
  display: grid;
  grid-gap: 0;
  grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.BoardCell {
  width: 30px;
  height: 30px;
  margin: 0;
  border: 2px solid #fff;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
}

.BoardCell:hover {
  background-color: rgba(204, 204, 204, .6);
}

.BoardCell:active {
  background-color: rgba(125, 125, 125, 0.6);
}

.board {
  background-color: rgba(55, 55, 255, .7);
}

.hide {
  background-color: rgba(55, 55, 255, 0);
}

.hit {
  background-color: rgba(255, 0, 0, .7);
}

.miss {
  background-color: rgba(255, 255, 255, 0.5);
}