.ComandTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 100px;
  margin-top: 6vh;
  border: 2px solid #fff;
  border-radius: 30px;
  background: rgba(204, 204, 204, 0.2);
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
}